*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.kotlin/errors/errors-1771584599673.log
/.kotlin/errors/errors-1764700527899.log
/.idea/deviceManager.xml
/.kotlin/errors/errors-1773499230146.log
/.kotlin/errors/errors-1773499239756.log
/.kotlin/errors/errors-1773499247473.log
